
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Jihoon & Asta</h1>
            <h2> 2020.10.25(Sun)</h2>
            <h2>We are getting Married!</h2>
            <h2>Mes Tuokiamės! 우리 결혼해요! </h2>
            <hr>
            <p>Glad you to be in our wedding  !</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>


<!--         <div class="header delay-animation animated flipInX"> </div> -->